---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DigitalScoop - SEO & Digital Marketing Agency HTML Template | 404">

    <!--====== 预加载界面 ======-->
    <div id="preloader">
        <!-- DigitalScoop Preloader -->
        <div id="digitalscoop-preloader" class="digitalscoop-preloader">
            <!-- 预加载动画 -->
            <div class="preloader-animation">
                <!-- 旋转动画 -->
                <div class="spinner"></div>
                <!-- 加载文字 -->
                <div class="loader">
                    <span data-text-preloader="D" class="animated-letters">D</span>
                    <span data-text-preloader="I" class="animated-letters">I</span>
                    <span data-text-preloader="G" class="animated-letters">G</span>
                    <span data-text-preloader="I" class="animated-letters">I</span>
                    <span data-text-preloader="T" class="animated-letters">T</span>
                    <span data-text-preloader="A" class="animated-letters">A</span>
                    <span data-text-preloader="L" class="animated-letters">L</span>
                    <span data-text-preloader="S" class="animated-letters">S</span>
                    <span data-text-preloader="C" class="animated-letters">C</span>
                    <span data-text-preloader="O" class="animated-letters">O</span>
                    <span data-text-preloader="O" class="animated-letters">O</span>
                    <span data-text-preloader="P" class="animated-letters">P</span>
                </div>
                <p class="fw-5 text-center text-uppercase">Loading</p>
            </div>
            <!-- 加载动画 -->
            <div class="loader-animation">
                <div class="row h-100">
                    <!-- 4个加载块填满整个加载区 -->
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                    <div class="col-3 single-loader p-0">
                        <div class="loader-bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== 预加载界面 ======-->

    <!--====== 404页面 ======-->
    <div class="error-area stars">
        <!-- 错误页面对象 -->
        <div class="error-content d-flex flex-column justify-content-center align-items-center text-center">
            <img class="error-thumb" src="/assets/img/error/404.svg">
            <a href="/" class="btn btn-bordered-white mt-4">GO BACK HOME</a>
        </div>
        <!-- Error Objects -->
        <div class="error-objects">
            <img class="thumb-1" src="/assets/img/error/rocket.svg">
            <!-- Earth Moon -->
            <div class="earth-moon">
                <img class="thumb-2" src="/assets/img/error/earth.svg">
                <img class="thumb-3" src="/assets/img/error/moon.svg">
            </div>
            <!-- Astronaut -->
            <div class="astronaut">
                <img class="thumb-4" src="/assets/img/error/astronaut.svg">
            </div>
        </div>
        <!-- Glowing Stars -->
        <div class="glowing-stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
    <!--====== 404页面 ======-->
</Layout>
