---
import Layout from "../layouts/Layout.astro";
import Preloader from "../components/preloader.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Mission from "../components/mission-vision-values.astro";
import PageTitle from "../components/pageTitle.astro";
---

<Layout title="DigitalScoop - SEO & Digital Marketing Agency HTML Template | Contact">
    
<!-- 加载动画 -->
<Preloader />


    <!--====== Scroll To Top Area Start ======-->
    <div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!--====== Scroll To Top Area End ======-->

    <div class="main overflow-hidden">
        <Header/>

    <!-- 页面标题 -->
    <PageTitle
      title="关于我们" 
      parentPage="首页" 
      parentUrl="/" 
      currentPage="关于我们" 
    />
        <!-- 内容：使命、愿景、核心价值观 -->
        <Mission/>


        <!--====== Contact Area Start ======-->
        <section id="contact" class="contact-area ptb_100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-5">
                        <!-- Section Heading -->
                        <div class="section-heading text-center mb-3">
                            <h2>联系我们!</h2>
                            <p class="d-none d-sm-block mt-4">占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位</p>
                            <p class="d-block d-sm-none mt-4">占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位占位</p>
                        </div>
                        <!-- Contact Us -->
                        <div class="contact-us">
                            <ul>
                                <!-- Contact Info -->
                                <li class="contact-info color-1 bg-hover active hover-bottom text-center p-5 m-3">
                                    <span><i class="fas fa-mobile-alt fa-3x"></i></span>
                                    <a class="d-block my-2" href="#">
                                        <h3>+86 8888888888888</h3>
                                    </a>
                                    <p>占位占位占位占位占位占位占位占位占位vv</p>
                                </li>
                                <!-- Contact Info -->
                                <li class="contact-info color-3 bg-hover active hover-bottom text-center p-5 m-3">
                                    <span><i class="fas fa-envelope-open-text fa-3x"></i></span>
                                    <a class="d-none d-sm-block my-2" href="#">
                                        <h3>xxx@xxx.com</h3>
                                    </a>
                                    <a class="d-block d-sm-none my-2" href="#">
                                        <h3>xxx@xxx.com</h3>
                                    </a>
                                    <p>占位占位占位占位占位占位占位占位占位vv</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pt-4 pt-lg-0">
                        <!-- Contact Box -->
                        <div class="contact-box text-center">
                            <!-- Contact Form -->
                            <form id="contact-form" method="POST" action="/assets/php/mail.php">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>
                                                <input type="text" class="form-control" name="name" placeholder="Name" required="required">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="text" class="form-control" name="name" placeholder="Company Name" required="required">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="text" class="form-control" name="subject" placeholder="Phone" required="required">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>
                                                <textarea class="form-control" name="message" placeholder="Message" required="required"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-bordered active btn-block mt-3"><span class="text-white pr-3"><i class="fas fa-paper-plane"></i></span>发送消息</button>
                                    </div>
                                </div>
                            </form>
                            <p class="form-message"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== Contact Area End ======-->

        <div class="blank_space" style="height: 10vw;"></div>

        <!--====== Map Area Start ======-->
        <div class="section-heading text-center">
							<h2>所在位置</h2>
							<p class="d-none d-sm-block mt-4">我们在这里↓</p>
							<!-- <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
						</div>
        <section class="section map-area">
            <iframe src="https://www.amap.com/" sandbox="" width="100" height="100" style="border:0;" allowfullscreen=""></iframe>
        </section>
        <!--====== Map Area End ======-->

        <!-- 页脚 -->
         <Footer/>

        <!--====== Modal Search Area Start ======-->
        <div id="search" class="modal fade p-0">
            <div class="modal-dialog dialog-animated">
                <div class="modal-content h-100">
                    <div class="modal-header" data-dismiss="modal">
                        Search <i class="far fa-times-circle icon-close"></i>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-12 align-self-center">
                                <div class="row">
                                    <div class="col-12 pb-3">
                                        <h2 class="search-title mb-3">What are you looking for?</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam lacus, dapibus sed imperdiet consectetur.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group">
                                        <label>
                                            <input type="text" class="form-control" placeholder="Enter your keywords">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group align-self-center">
                                        <button class="btn btn-bordered mt-3">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--====== Modal Search Area End ======-->

        <!--====== Modal Responsive Menu Area Start ======-->
        <div id="menu" class="modal fade p-0">
            <div class="modal-dialog dialog-animated">
                <div class="modal-content h-100">
                    <div class="modal-header" data-dismiss="modal">
                        Menu <i class="far fa-times-circle icon-close"></i>
                    </div>
                    <div class="menu modal-body">
                        <div class="row w-100">
                            <div class="items p-0 col-12 text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== Modal Responsive Menu Area End ======-->
    </div>
</Layout>