---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Preloader from '../components/preloader.astro';
import Footer from '../components/footer.astro';
import News from '../components/news.astro';
---

<Layout title="DigitalScoop - SEO & Digital Marketing Agency HTML Template | Default">
	
	<!-- 页头菜单栏，已经提取组件 -->
	<Header/>
	
	<!-- 加载动画,已经提取组件 -->
	<Preloader/>
	<!--====== Preloader Area End ======-->

	<!--====== Scroll To Top Area Start ======-->
	<div id="scrollUp" title="Scroll To Top">
		<i class="fas fa-arrow-up"></i>
	</div>
	<!--====== Scroll To Top Area End ======-->

	<div class="main overflow-hidden">
		<!-- ***** Header Start ***** -->
		
		<!-- ***** Header End ***** -->



		<!-- ***** Welcome Area Start ***** -->
		<section id="home" class="section welcome-area bg-overlay overflow-hidden d-flex align-items-center">
			<div class="container">
				<div class="row align-items-center">
					<!-- Welcome, Intro Start -->
					<div class="col-12 col-md-6">
						<div class="welcome-intro">
							<h1 class="text-white">县域投融资综合信息服务门户系统</h1>
							<p class="text-white my-4"></p>
							<!-- Buttons -->
							<div class="button-group">
								<a href="http://47.107.72.152/ass/admin/noAuth/index.html#/login" class="btn btn-bordered-white">投融资对接系统</a>
								<a href="http://47.107.72.152/pat/admin/noAuth/index.html#/login" class="btn btn-bordered-white d-none d-sm-inline-block">知识产权评估系统</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<!-- Welcome, Thumb -->
						<div class="welcome-thumb-wrapper mt-5 mt-md-0">
                            <span class="welcome-thumb-1">
                                <img class="welcome-animation d-block ml-auto" src="/assets/img/welcome/thumb_1.png" alt="">
                            </span>

						</div>
					</div>
				</div>
			</div>
			<!-- Shape Bottom -->
			<div class="shape shape-bottom">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#FFFFFF">
					<path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
				</svg>
			</div>
		</section>
		<!-- ***** Welcome Area End ***** -->


	<!-- ***** Five Cards Section Start (均匀分布，填充整行) ***** -->
<section class="section cards-area ptb_100">
    <div class="container">
        <div class="row">
            <!-- Card 1 -->
            <div class="col">
                <div class="single-promo color-1 bg-hover hover-bottom text-center p-3 mb-4 h-100">
                    <h4 class="mb-2">意向融资需求</h4>
                    <p class="mb-0">1500万</p>
                </div>
            </div>
            
            <!-- Card 2 -->
            <div class="col">
                <div class="single-promo color-2 bg-hover hover-bottom text-center p-3 mb-4 h-100">
                    <h4 class="mb-2">服务企业数量</h4>
                    <p class="mb-0">30家</p>
                </div>
            </div>
            
            <!-- Card 3 -->
            <div class="col">
                <div class="single-promo color-3 bg-hover hover-bottom text-center p-3 mb-4 h-100">
                    <h4 class="mb-2">金融机构数量</h4>
                    <p class="mb-0">25家</p>
                </div>
            </div>
            
            <!-- Card 4 -->
            <div class="col">
                <div class="single-promo color-4 bg-hover hover-bottom text-center p-3 mb-4 h-100">
                    <h4 class="mb-2">区域投融资指数</h4>
                    <p class="mb-0">85</p>
                </div>
            </div>
            
            <!-- Card 5 -->
            <div class="col">
                <div class="single-promo color-5 bg-hover hover-bottom text-center p-3 mb-4 h-100">
                    <h4 class="mb-2">区域产业指数</h4>
                    <p class="mb-0">93</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Five Cards Section End ***** -->



		<!-- ***** Promo Area Start ***** -->
		<!-- <section class="section promo-area ptb_100">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-4 res-margin"> -->
						<!-- Single Promo -->
						<!-- <div class="single-promo color-1 bg-hover hover-bottom text-center p-5">
							<h3 class="mb-3">累计融资数量</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Aspernatur provident unde</strong> ex eligendi magni sit impedit iusto, sed ad fuga minima, dignissimos ducimus autem molestias, nostrum nesciunt enim? Ea, non hic voluptates dolorum impedit eveniet dolorem temporibus illo incidunt quis minima facere doloribus sit maiores, blanditiis labore quasi, accusantium quaerat!</p>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4"> -->
						<!-- Single Promo -->
						<!-- <div class="single-promo color-3 bg-hover hover-bottom text-center p-5">
							<h3 class="mb-3">服务企业数量</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur provident unde ex eligendi magni sit impedit iusto, sed ad fuga minima, dignissimos ducimus autem molestias, nostrum nesciunt enim? Ea, non hic voluptates <strong>dolorum impedit eveniet dolorem temporibus</strong> illo incidunt quis minima facere doloribus sit maiores, blanditiis labore quasi, accusantium quaerat!</p>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 res-margin"> -->
						<!-- Single Promo -->
						<!-- <div class="single-promo color-2 bg-hover active hover-bottom text-center p-5">
							<h3 class="mb-3">入驻金融机构数量</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur provident unde ex eligendi magni sit impedit iusto, sed ad fuga minima, <strong>dignissimos ducimus autem</strong> molestias, nostrum nesciunt enim? Ea, non hic voluptates dolorum impedit eveniet dolorem temporibus illo incidunt quis minima facere doloribus sit maiores, blanditiis labore quasi, accusantium quaerat!</p>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4"> -->
						<!-- Single Promo -->
						<!-- <div class="single-promo color-3 bg-hover hover-bottom text-center p-5">
							<h3 class="mb-3">区域科技金融指数</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur provident unde ex eligendi magni sit impedit iusto, sed ad fuga minima, dignissimos ducimus autem molestias, nostrum nesciunt enim? Ea, non hic voluptates <strong>dolorum impedit eveniet dolorem temporibus</strong> illo incidunt quis minima facere doloribus sit maiores, blanditiis labore quasi, accusantium quaerat!</p>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4"> -->
						<!-- Single Promo -->
						<!-- <div class="single-promo color-3 bg-hover hover-bottom text-center p-5">
							<h3 class="mb-3">县域特色产业指数</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur provident unde ex eligendi magni sit impedit iusto, sed ad fuga minima, dignissimos ducimus autem molestias, nostrum nesciunt enim? Ea, non hic voluptates <strong>dolorum impedit eveniet dolorem temporibus</strong> illo incidunt quis minima facere doloribus sit maiores, blanditiis labore quasi, accusantium quaerat!</p>
						</div>
					</div> -->
					
				
				<!-- </div>
			</div>
		</section> -->
		<!-- ***** Promo Area End ***** -->

		<!-- ***** Content Area Start ***** -->
		<section class="section content-area bg-grey ptb_150">
			<!-- Shape Top -->
			<div class="shape shape-top">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#FFFFFF">
					<!-- 这个是背景波浪图形,上面那部分 -->
					<path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
                c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
                c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
				</svg>
			</div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-7">
						<!-- Section Heading -->
						<div class="section-heading text-center">
							<h2>系统服务</h2>
							<!-- <p class="d-none d-sm-block mt-4">这里是功能快捷入口</p> -->
							<!-- <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6 col-lg-4">
						<!-- Single Service -->
						<div class="single-service p-4">
							<span class="flaticon-rocket-launch color-1 icon-bg-1"></span>
							<h3 class="my-3">县域经济研究</h3>
							<!-- <p>这里用来填充页面跳转的介绍信息</p>
							<p>这里用来填充页面跳转的介绍信息</p>
							<p>这里用来填充页面跳转的介绍信息</p> -->
							<a class="service-btn mt-3" href="#">点击跳转 →</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<!-- Single Service -->
						<div class="single-service p-4">
							<span class="flaticon-monitoring color-2 icon-bg-2"></span>
							<h3 class="my-3">政策研究</h3>
							<!-- <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p> -->
							<a class="service-btn mt-3" href="#">点击跳转 →</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<!-- Single Service -->
						<div class="single-service p-4">
							<span class="flaticon-web color-3 icon-bg-3"></span>
							<h3 class="my-3">数据开放平台</h3>
							<!-- <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p> -->
							<a class="service-btn mt-3" href="#">点击跳转 →</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<!-- Single Service -->
						<div class="single-service p-4">
							<span class="flaticon-smartphone color-4 icon-bg-4"></span>
							<h3 class="my-3">我要融资</h3>
							<!-- <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p> -->
							<a class="service-btn mt-3" href="#">点击跳转 →</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<!-- Single Service -->
						<div class="single-service p-4">
							<span class="flaticon-email color-5 icon-bg-5"></span>
							<h3 class="my-3">知识产权评估</h3>
							<!-- <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p> -->
							<a class="service-btn mt-3" href="#">点击跳转 →</a>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<!-- Single Service -->
						<div class="single-service p-4">
							<span class="flaticon-affiliate color-6 icon-bg-6"></span>
							<h3 class="my-3">项目发布</h3>
							<!-- <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod tempor incididunt emit.</p> -->
							<a class="service-btn mt-3" href="#">点击跳转 →</a>
						</div>
					</div>
				</div>	
			</div>
			<!-- Shape Bottom -->
			<div class="shape shape-bottom">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" fill="#FFFFFF">
					<!-- 这个是背景波浪图形,下面的部分 -->
					<path class="shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
        c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
        c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
				</svg>
			</div>
		</section>
		<!-- ***** Content Area End ***** -->

		<!-- 空行 -->
		 <div class="blank" style="height: 15vw;"></div>


		<!-- 新闻轮播 -->
		 <News/>
		

		<Footer/>
		<!--====== Modal Search Area Start ======-->
		<div id="search" class="modal fade p-0">
			<div class="modal-dialog dialog-animated">
				<div class="modal-content h-100">
					<div class="modal-header" data-dismiss="modal">
						Search <i class="far fa-times-circle icon-close"></i>
					</div>
					<div class="modal-body">
						<form class="row">
							<div class="col-12 align-self-center">
								<div class="row">
									<div class="col-12 pb-3">
										<h2 class="search-title mb-3">What are you looking for?</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam lacus, dapibus sed imperdiet consectetur.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-12 input-group">
										<label>
											<input type="text" class="form-control" placeholder="Enter your keywords">
										</label>
									</div>
								</div>
								<div class="row">
									<div class="col-12 input-group align-self-center">
										<button class="btn btn-bordered mt-3">Search</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Search Area End ======-->

		<!--====== Modal Responsive Menu Area Start ======-->
		<div id="menu" class="modal fade p-0">
			<div class="modal-dialog dialog-animated">
				<div class="modal-content h-100">
					<div class="modal-header" data-dismiss="modal">
						Menu <i class="far fa-times-circle icon-close"></i>
					</div>
					<div class="menu modal-body">
						<div class="row w-100">
							<div class="items p-0 col-12 text-center"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Responsive Menu Area End ======-->
	</div>
</Layout>
