---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import Preloader from "../components/preloader.astro";
import PageTitle from "../components/pageTitle.astro";
---

<Layout
    title="DigitalScoop - SEO & Digital Marketing Agency HTML Template | Contact"
>
    <!-- 页头 -->
    <Header />

    <!-- 加载动画 -->
     <Preloader />

    <!--====== 滚动到顶部按钮 ======-->
    <div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!--====== Scroll To Top Area End ======-->

    <!-- 页面标题 -->
    <PageTitle
      title="科技金融指数系统" 
      parentPage="首页" 
      parentUrl="/" 
      currentPage="科技金融指数系统" 
    />

    <class class="main overflow-hidden">

    
    </class>

    <!-- 页脚 -->
    <Footer />
</Layout>
