<!--====== Footer Area Start ======-->
<footer class="section footer-area">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-uppercase mb-2">联系方式</h3>
                        <ul>
                            <li class="py-2"><a class="text-black-50" href="#">联系电话：88888888</a></li>
                            <li class="py-2"><a class="text-black-50" href="#">邮箱：xxx@xxx.com</a></li>
                            <li class="py-2"><a class="text-black-50" href="#">地址：广东金融学院</a></li>
                            <li class="py-2"><a class="text-black-50" href="#">邮编：000000</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-uppercase mb-2">网站地图</h3>
                        <ul>
                            <li class="py-2"><a class="text-black-50" href="/">首页</a></li>
                            <li class="py-2"><a class="text-black-50" href="/about">关于我们</a></li>
                            <li class="py-2"><a class="text-black-50" href="/news">新闻动态</a></li>
                            <li class="py-2"><a class="text-black-50" href="/services">政策服务</a></li>
                            <li class="py-2"><a class="text-black-50" href="/invAndFin">投融资对接系统</a></li>
                            <li class="py-2"><a class="text-black-50" href="/economy">县域经济研究</a></li>
                            <li class="py-2"><a class="text-black-50" href="/techFin">科技金融指数系统</a></li>
                            <li class="py-2"><a class="text-black-50" href="/intProEva">知识产权评价</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-uppercase mb-2">友情链接</h3>
                        <ul>
                            <li class="py-2"><a class="text-black-50" href="#">友情链接1</a></li>
                            <li class="py-2"><a class="text-black-50" href="#">友情链接2</a></li>
                            <li class="py-2"><a class="text-black-50" href="#">友情链接3</a></li>
                            <li class="py-2"><a class="text-black-50" href="#">友情链接4</a></li>
                            <li class="py-2"><a class="text-black-50" href="#">友情链接5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title text-uppercase mb-2">备案信息</h3>
                        <p class="mb-2">京ICP备xxxxxxxx号-1</p>
                        <p class="mb-2">京公网安备xxxxxx号</p>
                        <p class="mb-2"></p>
                        <p class="mb-2"></p>
                        <!-- Social Icons -->
                        <!-- <ul class="social-icons list-inline pt-2">
                            <li class="list-inline-item px-1"><a href="#"><i class="fab fa-wechat"></i></a></li>
                            <li class="list-inline-item px-1"><a href="#"><i class="fab fa-weibo"></i></a></li>
                            <li class="list-inline-item px-1"><a href="#"><i class="fab fa-qq"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <!-- Copyright Left -->
                        <div class="copyright-left">&copy; 2025 科技金融与县域经济门户系统. 版权所有.</div>
                        <!-- Copyright Right -->
                        <div class="copyright-right">技术支持：<a href="#" target="_blank">广东金融学院</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--====== Footer Area End ======-->