<!--====== Preloader Area Start ======-->
	<div id="preloader">
		<!-- DigitalScoop Preloader -->
		<div id="digitalscoop-preloader" class="digitalscoop-preloader">
			<!-- Preloader Animation -->
			<div class="preloader-animation">
				<!-- Spinner -->
				<div class="spinner"></div>
				<!-- Loader -->
				<div class="loader">
					<span data-text-preloader="D" class="animated-letters">加</span>
					<span data-text-preloader="I" class="animated-letters">载</span>
					<span data-text-preloader="G" class="animated-letters">中</span>
					<span data-text-preloader="I" class="animated-letters">.</span>
					<span data-text-preloader="T" class="animated-letters">.</span>
					<span data-text-preloader="A" class="animated-letters">.</span>
					<span data-text-preloader="L" class="animated-letters">.</span>
					<span data-text-preloader="S" class="animated-letters">.</span>
					<span data-text-preloader="C" class="animated-letters">.</span>
					<span data-text-preloader="O" class="animated-letters">.</span>
					<!-- <span data-text-preloader="O" class="animated-letters">O</span>
					<span data-text-preloader="P" class="animated-letters">P</span> -->
				</div>
				<p class="fw-5 text-center text-uppercase">Loading</p>
			</div>
			<!-- Loader Animation -->
			<div class="loader-animation">
				<div class="row h-100">
					<!-- Single Loader -->
					<div class="col-3 single-loader p-0">
						<div class="loader-bg"></div>
					</div>
					<!-- Single Loader -->
					<div class="col-3 single-loader p-0">
						<div class="loader-bg"></div>
					</div>
					<!-- Single Loader -->
					<div class="col-3 single-loader p-0">
						<div class="loader-bg"></div>
					</div>
					<!-- Single Loader -->
					<div class="col-3 single-loader p-0">
						<div class="loader-bg"></div>
					</div>
				</div>
			</div>
		</div>
	</div>